body{
    background-image: radial-gradient(rgb(137, 34, 89), rgb(27, 0, 124));
    height: 1080px;
}

.heading{
    color: aquamarine;
}

.btnPrm{
    padding: 10px;
}

.loginForm{
    background-color: rgba(3, 0, 53, 0.281);
    border: aquamarine 2px dashed;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    margin-top: 50px;
}

.frmMainLogIn{
    padding: 20px;
}

.hd1{
    margin-left: 20px;
    color: aquamarine;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}